<ng-container *ngIf="{
    state: shadeService.state$ | async,
    loading: shadeService.loading$ | async,
    error: shadeService.error$ | async
} as data">
  <ui-sidebar-layout *ngIf="data">
    <ui-search-header header></ui-search-header>
    <ui-sidebar sidebar></ui-sidebar>
    <ng-container body *ngIf="data.state">
      <h1 class="hello-text">Shades</h1>
      <span *ngIf="data.loading">Loading...</span>
      <span *ngIf="data.error">Error found!</span>
      <shade-table *ngIf="!data.error" [data]="data.state"></shade-table>
    </ng-container>
  </ui-sidebar-layout>
</ng-container>
