@import "src/app/shared/ui/themes/variables";
:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layout {
  height: 100vh;
  &__title{
    padding: 24px 0px 0px 24px;
  }
  &__outer-content{
    //background-image: url($colibri-background-img-url);
  }
  &__inner-content {
    padding: 24px;
    background: #fff;
    height: 100%;
  }
}

nz-content {
  margin: 24px;
}





