<ui-sidebar-layout>
  <ui-search-header header></ui-search-header>
  <ui-sidebar sidebar></ui-sidebar>
  <ng-container body>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="basic-form">
      <div>
        <label for="name">
          Name
        </label>
        <input id="name" type="text" formControlName="name">
      </div>

      <div>
        <label for="message">
          Message
        </label>
        <input id="message" type="text" formControlName="message">
      </div>

      <button class="-button" type="submit">Submit</button>
    </form>
    <p id="result">{{result}}</p>
  </ng-container>
</ui-sidebar-layout>
