.shadePrev{
  width: 60px;
  height: 22px;
}

.collection-table{
  &__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__head{
    height: 60px;
  }
  &__icon-button{
    padding-right: 20px;
  }
  &__select-col{
    width: 50px;
  }
  &__shade-preview{
    width: 76px;
  }
  &__shade-name{

  }

  &__recipe-circle{
    width: 14px;
    height: 14px;
    border: 3px solid;
    box-sizing: border-box;
    border-radius: 50%;
  }

  &__recipe-not-released{
    width: 14px;
    height: 14px;
    border: 3px solid #BFBFBF;
    box-sizing: border-box;
    border-radius: 50%;
    align-self: center;
  }

  &__recipe-not-released__engineered{
    width: 14px;
    height: 14px;
    border: 3px solid #BFBFBF;
    box-sizing: border-box;
    border-radius: 50%;
    background: #BFBFBF;
    align-self: center;
  }

  &__recipe-released__engineered{
    width: 14px;
    height: 14px;
    border: 3px solid #09C7C3;
    box-sizing: border-box;
    align-self: center;
    border-radius: 50%;
    background: #09C7C3;
  }

  &__recipe-released{
    width: 14px;
    height: 14px;
    border: 3px solid #09C7C3;
    box-sizing: border-box;
    border-radius: 50%;
    align-self: center;
  }

  &__recipe-unavailable{
    width: 14px;
    height: 14px;
    border: 3px solid #FD593D;
    box-sizing: border-box;
    border-radius: 50%;
    background: #FD593D;
    align-self: center;
  }

}
