<ng-container *ngIf="{
    state: productService.state$ | async,
    loading: productService.loading$ | async
} as data">
  <div class="collection-table__header">
    <div class="collection-table__header__left-header">Shades: {{collection.Shades.length}}</div>
    <div class="collection-table__header__right-header">
      <i class="collection-table__icon-button" nz-icon nzType="filter" nzTheme="outline"></i>
      <i class="collection-table__icon-button" nz-icon nzType="search" nzTheme="outline"></i>
      <i class="collection-table__icon-button" nz-icon nzType="question-circle" nzTheme="outline"></i>
      <button nz-button nzType="primary"><i nz-icon nzType="plus" nzTheme="outline"></i>Add Shade</button>
    </div>
  </div>

  <nz-table #basicTable [nzData]="collection.Shades">
    <thead class="collection-table__head">
    <tr>
      <th class="collection-table__select-col"><label nz-checkbox></label></th>
      <th class="collection-table__shade-preview">Color</th>
      <th class="collection-table__shade-name">Name</th>
      <th *ngFor="let product of productService.state$.value.entities">{{product.name.value}}</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data; index as i">
      <td class="collection-table__select-col"> <label nz-checkbox></label></td>
      <td class="collection-table__shade-preview"><div class="shadePrev" [ngStyle]="{'background-color': data.color.value}"></div></td>
      <td class="collection-table__shade-name">{{data.name.value}}</td>
      <td *ngFor="let product of productService.state$.value.entities; index as p"><div [ngClass]="style(findRecipe(data.colorId, p))"></div></td>
      <td>
        <a>Delete</a>
      </td>
    </tr>
    </tbody>
  </nz-table>
</ng-container>


