<nz-layout class="sidebar-layout">
  <ui-header-for-sidebar (toggleCollapse)="toggleSidebar()" [isCollapsed]="isCollapsed">{{"POSTitle" | translate}}</ui-header-for-sidebar>
  <nz-layout class="outer-content">
    <nz-sider
      nzWidth="256px"
      nzBreakpoint="md"
      [(nzCollapsed)]="isCollapsed"
      [nzTrigger]="null">
      <ui-sidebar [isCollapsed]="isCollapsed"></ui-sidebar>
    </nz-sider>
    <nz-content>
      <div class="inner-content">
        <ng-content></ng-content>
      </div>
    </nz-content>

  </nz-layout>
</nz-layout>
