<nz-layout class="sidebar-layout">
  <nz-header class="sidebar-layout__header">
    <ng-content select="[header]"></ng-content>
  </nz-header>
  <nz-layout class="sidebar-layout__outer-content">
    <nz-sider
      nzWidth="256px"
      nzBreakpoint="md"
      [(nzCollapsed)]="sidebarService.isCollapsed"
      [nzTrigger]="null">
      <ng-content select="[sidebar]"></ng-content>
    </nz-sider>
    <nz-content class="sidebar-layout__container">
      <div class="sidebar-layout__content">
        <ng-content select="[body]"></ng-content>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
