@import "src/app/shared/ui/themes/variables";

.sidebar-layout {
  height: 100vh;

  &__header {
    padding: 0;
    width: 100%;
    z-index: 2;
  }

  &__container {
    background-image: $colibri-background-img-url;
  }

  &__content {
    margin: 24px;
    padding: 24px;
    background: #fff;
  }
}
