<div class="sidebar">
  <ul nz-menu nzMode="inline" [nzInlineCollapsed]="sidebarService.isCollapsed">
    <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="appstore">
      <ul>
        <li nz-menu-item nzMatchRouter>
          <a routerLink="/welcome">Welcome</a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <a routerLink="/translations">Translations example</a>
        </li>
      </ul>
    </li>
    <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
      <ul>
        <li nz-menu-item nzMatchRouter>
          <a routerLink="/basicform">Basic Form</a>
        </li>
      </ul>
    </li>
    <li nz-submenu nzOpen nzTitle="Color" nzIcon="bg-colors">
      <ul>
        <li nz-menu-item nzMatchRouter>
          <a routerLink="/color">ColorPicker example</a>
        </li>
      </ul>
    </li>
    <li nz-submenu nzOpen nzTitle="Entity examples" nzIcon="bg-colors">
      <ul>
        <li nz-menu-item nzMatchRouter>
          <a routerLink="/collectionExample">Collection example</a>
        </li>
      </ul>
    </li>
    <li nz-submenu nzOpen nzTitle="UI components" nzIcon="form" nzIcon="star">
      <ul>
        <li nz-menu-item nzMatchRouter>
          <a routerLink="/ui/headers">Headers</a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <a routerLink="/ui/sidebar">Sidebars</a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <a routerLink="/ui/layouts">Layouts</a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <a routerLink="/ui/typography">Typographies</a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <a routerLink="/ui/icon">Icons</a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <a routerLink="/ui/button">Buttons</a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <a routerLink="/ui/legend">Legends</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
